/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.centered-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}